@import "fonts";
@import "vars";
@import "base";

html, body {
	height: 100%;
	margin: 0;
}

body {
	min-width: 320px;
	position: relative;
	line-height: 24px;
	font-size: 16px;
	font-family: Arial, sans-serif;
	color: #333;
	overflow-x: hidden;
	opacity: 1;
}

.text-center {
	text-align: center;
}

.section {
	padding: 50px 0;
	background-color: #fff;
	color: #333;

	&-inverse {
		background-color: #445162;
		color: #fff;
	}

	&-plusses {
		background-color: #f5f5f5;
	}
}


.h1 {
	margin: 0;
	line-height: 1.2;
	font-size: 60px;
	font-weight: normal;
}

.h2 {
	@extend .h1;
	margin-bottom: 30px;
	color: #445161;
	font-size: 30px;
	line-height: 36px;
}

.h3 {
	@extend .h2;
	margin-bottom: 15px;
	font-size: 22px;
	line-height: 30px;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
	
	&-header {
		margin-top: 20px;	
		li {
			&:before {
				font-family: "fontawesome";
				content: "\f00c";
				margin-right: 8px;
				font-size: 26px;
			}
			font-size: 20px;
			line-height: 36px;
		}
	}

	&-plusses {
		li {
			margin-bottom: 30px;
			padding-left: 42px; 
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 4px;
				left: 0;
				width: 32px;
				height: 32px;
				background-image: url('../img/plus-icon.jpg');
			}
		}
	}

	&-screenshots {
		li {
			margin-bottom: 30px;
		}
	}
}



.img {
	width: 100%;

	&-white {
		background-color: #fff;
	}

	&-blue {
		background-color: #445161;
	}

	&-header {
		height: 214px;
	}

	&-about {
		height: 245px;
	}

	&-screenshots {
		width: 140px;
		height: 140px;
		float: left;
		margin-right: 20px;
	}
}



@import "media"; // Всегда в конце
